body {
    color: #2f5b8c;
    text-decoration-color: #708f86;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 0.1em;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: auto;
}


/* HEADER */

header {
    background: url('../images/bckgrnd.jpg');
    background-size: cover;
    background-attachment: local;
    background-repeat: no-repeat;
    height: 720px;
    margin: 20px 20px 0 20px;
}

.header-inner {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    min-width: 1080px;
    margin: 0 auto;
}

.logo {
    padding: 10px 80px;
    margin: 20px;
}

.logo img {
    width: 100px;
    color: gray;
}

nav a {
    display: inline-block;
    width: 200px;
    text-align: center;
}

.link {
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    margin: 20px;
    transition: color 0.3s ease;
    border-radius: 4%;
    font-size: 24px;
    transition: 0.5s;
    font-weight: bold;
    border: 1px solid #ffffff;
}

.link:hover {
    color: #2f5b8c;
    background-color: #ffffff;
    transition: 0.5s;
}

.link:focus {
    color: #2f5b8c;
    background-color: #ffffff;
}

.heading {
    width: 500px;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
}

.heading h2 {
    padding: 40px 120px;
    opacity: 0.6;
}


/* MAIN */

main {
    background-color: rgb(238, 172, 138);
    height: 80vh;
    margin: 0 20px;
}


/* FOOTER */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2f5b8c;
    color: white;
    margin: 0 20px 20px 20px;
}

footer div {
    margin: 20px;
    padding: 20px;
}

footer img {
    width: 40px;
}